# RRGGBB or RRGGBBAA
unselected-color = 00000080
selected-color = 00000000
border-color = 32cd32
border-secondary-color = 000000

# 0 to disable borders
border-size = 2

# If true, dulcepan will save immediately when interactive selection is stopped
# or when a whole output is selected with a mouse button.
quick-select = false

# If true, dulcepan will remember selection between runs.
# The state is stored at $XDG_CACHE_HOME/dulcepan.
persistence = true

# PNG (zlib) compression level, 0-9
png-compression = 6

# Key bindings. Each binding is a comma-separated list of key names; empty names
# are ignored. A binding may be empty.
quit-key = Escape
save-key = Space,Return
